:root {
	--clr-primary: #02407e;

	--clr-primary-100: #023a71;
	--clr-primary-200: #356698;
	--clr-primary-300: #4e79a5;
	--clr-primary-400: #678cb2;
	--clr-primary-400: #81a0bf;

	--clr-primary-600: #9ab3cb;
	--clr-primary-700: #b3c6d8;
	--clr-primary-800: #ccd9e5;
	--clr-primary-900: #e6ecf2;

	--clr-secondary: hsl(72, 35%, 60%);

	--clr-VW-blue: hsl(204, 67%, 40%);
	--clr-VW-blue-600: hsl(204, 87%, 40%);
	--clr-VW-blue-300: hsl(204, 47%, 40%);
	--clr-VW-light: hsl(195, 100%, 46%);
	--clr-VW-yellow: hsl(49, 100%, 50%);
	--clr-VW-green: hsl(104, 57%, 44%);

	--clr-neutral-900: hsl(0, 0%, 0%);
	--clr-neutral-800: hsl(0, 0%, 10%);
	--clr-neutral-700: hsl(0, 0%, 20%);
	--clr-neutral-600: hsl(0, 0%, 30%);
	--clr-neutral-500: hsl(0, 0%, 50%);
	--clr-neutral-400: hsl(0, 0%, 60%);
	--clr-neutral-300: hsl(0, 0%, 80%);
	--clr-neutral-200: hsl(0, 5%, 90%);
	--clr-neutral-100: hsl(0, 0%, 100%);

	--ff-text: 'DM Sans', sans-serif;
	--ff-head: 'DM Serif Display', serif;

	--spacing-inline: 0;
	--spacing-max-w: 1440px;

	font-size: clamp(12px, 5vw, 18px);
}

*,
*::after,
*::before {
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100vw;
	overflow-x: hidden;
}

body {
	background-color: var(--clr-neutral-100);
	font-family: var(--ff-text);
	min-height: 100%;
	position: relative;
	font-size: clamp(0.8rem, 1vw, 1rem);
}

a {
	color: var(--clr-neutral-100);
	text-decoration: none;
}

main {
	min-height: 100%;
	width: 100%;
}

.wrapper {
	max-width: var(--spacing-max-w);
	margin: 0 auto;
	min-height: 65.5vh;
	width: 100%;
	padding-inline: var(--spacing-inline);
	padding-bottom: 2rem;
}

h1,
h2,
h3,
h4 {
	font-family: var(--ff-head);
	color: var(--clr-primary);
	text-transform: uppercase;
	text-wrap: balance;
	margin: 0;
}

h1 {
	font-size: clamp(2.5rem, 5vw, 4rem);
}

h2 {
	font-size: clamp(1.5rem, 5vw, 2rem);
}

h3 {
	font-size: clamp(1.1rem, 5vw, 1.25rem);
}

img {
	width: 100%;
}

ul.grid-of-cards {
	display: grid;
	grid-template-columns: repeat(3, minmax(350px, 1fr));
	gap: 1rem;
	padding-block: 1rem;
	padding-left: 0;
}

@media screen and (max-width: 1440px) {
	:root {
		--spacing-inline: 1.5rem;
	}
}
@media screen and (max-width: 1248px) {
	ul.grid-of-cards {
		grid-template-columns: repeat(2, minmax(350px, 1fr));
	}
}

@media screen and (max-width: 720px) {
	ul.grid-of-cards {
		grid-template-columns: minmax(320px, 1fr);
	}

	.wrapper {
		max-width: 100%;
		min-height: 90%;
		width: 100%;
		padding-inline: 1rem;
	}
	:root {
		--spacing-inline: 1rem;
	}
}

@media screen and (max-width: 425px) {
	ul.grid-of-cards {
		grid-template-columns: 1fr;
	}
}

.button-group {
		display: flex;
		gap: 1ch;
	}

	.button {
		background-color: var(--clr-VW-light);
		color: #fff;
		border: none;
		padding: 10px 20px;
		border-radius: 5px;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: 600;
		display: block;
	}
	.btn-outline {
		background-color: transparent;
		color: var(--clr-VW-light);
		border: 1px solid var(--clr-VW-light);
	}