@font-face {
  font-family: "VW Head";
  src: url("/static/assets/fonts/VWHead-Regular.otf") format("otf"),
    url("/static/assets/fonts/VWHead-Bold.otf") format("otf");
}

@font-face {
  font-family: "VW Text";
  src: url("/static/assets/fonts/VWText-Regular.otf") format("otf"),
    url("/static/assets/fonts/VWText-Bold.otf") format("otf");

}

:root {
  --clr-primary: #02407e;

  --clr-primary-100: #023a71;
  --clr-primary-200: #356698;
  --clr-primary-300: #4e79a5;
  --clr-primary-400: #678cb2;
  --clr-primary-400: #81a0bf;

  --clr-primary-600: #9ab3cb;
  --clr-primary-700: #b3c6d8;
  --clr-primary-800: #ccd9e5;
  --clr-primary-900: #e6ecf2;

  /* --clr-primary: ; */
  --clr-secondary: hsl(72, 35%, 60%);

  --clr-VW-blue: hsl(204, 67%, 40%);
  --clr-VW-blue-600: hsl(204, 87%, 40%);
  --clr-VW-blue-300: hsl(204, 47%, 40%);
  --clr-VW-light: hsl(195, 100%, 46%);
  --clr-VW-yellow: hsl(49, 100%, 50%);
  --clr-VW-green: hsl(104, 57%, 44%);

  --clr-neutral-900: hsl(0, 0%, 0%);
  --clr-neutral-800: hsl(0, 0%, 10%);
  --clr-neutral-700: hsl(0, 0%, 20%);
  --clr-neutral-600: hsl(0, 0%, 30%);
  --clr-neutral-500: hsl(0, 0%, 50%);
  --clr-neutral-400: hsl(0, 0%, 60%);
  --clr-neutral-300: hsl(0, 0%, 80%);
  --clr-neutral-200: hsl(0, 5%, 90%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --clr-vw-blue-100: #0d4671;
  --clr-vw-blue-100: #204568;
  --clr-vw-blue-200: #2b4360;
  --clr-vw-blue-300: #324258;
  --clr-vw-blue-400: #37414f;
  --clr-vw-blue-500: #3c4047;
  --clr-vw-blue-600: #3f3f3f;


  --ff-text: "VW Text", sans-serif;
  --ff-head: "Georgia", serif;

  --spacing-inline: 2rem;
  --spacing-max-w: 1248px;
}


*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--clr-neutral-100);
  font-family: var(--ff-text);
  min-height: 100%;
}

a {
  color: var(--clr-neutral-100);
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 45645;
}

main {
  padding-inline: var(--spacing-inline);
  padding-top: 2rem;
  max-width: var(--spacing-max-w);
  margin: 0 auto;
  min-height: 64%;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-head);
  color: var(--clr-primary);
  font-weight: bold;
  text-transform: uppercase;

}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

img {
  width: 100%;
}

ul.grid-of-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  gap: 1rem;
  padding-block: 2rem;
  padding-left: 0;
}

@media (max-width: 1248px) {
  ul.grid-of-cards {
    grid-template-columns: repeat(2, minmax(350px, 1fr));
  }
}

@media (max-width: 720px) {
  ul.grid-of-cards {
    grid-template-columns: minmax(350px, 1fr);
  }

  :root {
    --spacing-inline: 0;
  }

  main {
    padding: 0;
    padding-bottom: 1rem;
  }

}